
Skip to content
Pull requests
Issues
Marketplace
Explore
@VlADOOSit
VlADOOSit /
UCODE-Refresh-C
Public

1
0

    0

Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights

    Settings

UCODE-Refresh-C/.gitignore
vlad OK
Latest commit ae8bb0f 25 days ago
History
0 contributors
54 lines (46 sloc) 452 Bytes
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
.DS_Store
._.DS_Store

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
